/*====================================

Filename: helpSliderCSS.css
Description: CSS for the Slider System

====================================*/

.helpSlider { 
			width: 670px; 
			position: relative;
			margin: 5px
			}

.helpSlider .wrapper {
			width: 574px; /* .helpSlider width - (.wrapper margin-left + .wrapper margin-right) */
			overflow: auto;
			height: 140px;
			margin: 0 48px;
			position: absolute;
			top: 0;
			background-image: url(../images/tell/sliderBackground.png);
			}

		.helpSlider ul a img {
			border: 0px solid #000;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
		}

		.helpSlider .wrapper ul {
			width: 9999px;
			list-style-image:none;
			list-style-position:outside;
			list-style-type:none;
			margin:0;
			padding:0;
			position: absolute;
			top: 0;
		}

		.helpSlider ul li {
			display:block;
			float: left;
			padding: 10px;
			height: 120px;
			Width: 172px;
		}

		.helpSlider ul li a img {
			display:block;
		}

		.helpSlider .arrow {
			display: block;
			height: 88px;
			width: 48px;
			background: url(../images/tell/arrowMatrix.png) no-repeat 0 0;
			text-indent: -999px;
			position: absolute;
			top: 28px;
			cursor: pointer;
		}

		.helpSlider .forward {
			background-position: 0 0px;
			right: 0;
		}

		.helpSlider .back {
			background-position: 0 -178px;
			left: 0;
		}

		.helpSlider .forward:hover {
			background-position: 0 -88px;
		}

		.helpSlider .back:hover {
			background-position: 0 -268px;
		}
.navLeftHide {
display: block;
position: absolute;
top: 124px;
left: 58px;
width: 40px;
height: 88px;
background: url(../images/tell/sliderNavBack_disabled.png);
z-index: 999;
}
.navRightHide {
display: none;
position: absolute;
top: 124px;
left: 698px;
width: 40px;
height: 88px;
background: url(../images/tell/sliderNavNext_disabled.png);
z-index:999;
}
.buttonGraphic {
position: relative;
top: 0px;
left: 0px;
}
.buttonText {
position: relative;
top: -105px;
left: 4px;
display: table;
height: 90px;
width: 110px;
overflow: hidden;
font-family: tahoma;
font-size: 1.8em;
font-weight: bold;
text-align: middle;
color: #FFFFFF;
cursor: pointer;
}