
/*  Alternative to CSS3 button gradients using IE-specific 'filter' attribute */

table.form_table td.value input[type=submit],
input.form_submit,
.payment_options a.button {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f68a5', endColorstr='#042a6b',GradientType=0 ); /* IE6-8 */
}

table.form_table td.value input[type=submit]:hover,
input.form_submit:hover,
.payment_options a.button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f78b5', endColorstr='#143a7b',GradientType=0 ); /* IE6-8 */
}

table.form_table td.value input[type=submit][disabled],
input.form_submit[disabled],
.payment_options a.button.disabled {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7FA8B5', endColorstr='#646A7B',GradientType=0 ) !important; /* IE6-8 */
}

table.form_table td.value input[type=submit][disabled]:hover,
input.form_submit[disabled]:hover,
.payment_options a.button.disabled:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7FA8B5', endColorstr='#646A7B',GradientType=0 ) !important; /* IE6-8 */
}

#header #right_column #search_button {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000940', endColorstr='#115e9e',GradientType=0 ); /* IE6-8 */
}

#header #right_column #search_button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202960', endColorstr='#317ebe',GradientType=0 ); /* IE6-8 */
}

input.add_evaluate,
a.order_evaluate,
table.form_table td.value input[type="submit"].primary,
input.form_submit.primary {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCB034', endColorstr='#F08B1E',GradientType=0 ); /* IE6-8 */
}

input.add_evaluate:hover,
a.order_evaluate:hover,
table.form_table td.value input[type="submit"].primary:hover,
input.form_submit.primary:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFB93D', endColorstr='#F38E21',GradientType=0 ); /* IE6-8 */
}

table.form_table td.value input[type="submit"][disabled].primary,
input.form_submit.primary[disabled],
table.form_table td.value input[type="submit"][disabled].primary:hover,
input.form_submit.primary[disabled]:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ba79', endColorstr='#e29c56',GradientType=0 ) !important;
}

input.bg_gradient_blue,
a.bg_gradient_blue {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd0e9', endColorstr='#9e9ecc',GradientType=0 ); /* IE6-8 */
}

input.bg_gradient_blue:hover,
a.bg_gradient_blue:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d6ef', endColorstr='#a4a4d2',GradientType=0 ); /* IE6-8 */
}

a.show_all_resources {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f68a5', endColorstr='#042a6b',GradientType=0 ); /* IE6-8 */
}

a.show_all_resources:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f78b5', endColorstr='#143a7b',GradientType=0 ); /* IE6-8 */
}

.ask_an_expert #ask_submit,
.ask_an_editor #ask_submit {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f68a5', endColorstr='#042a6b',GradientType=0 ); /* IE6-8 */
}

.ask_an_expert #ask_submit:hover,
.ask_an_editor #ask_submit:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f78b5', endColorstr='#143a7b',GradientType=0 ); /* IE6-8 */
}

.search_results .filters .submit_button_container .submit_button,
.narrow_search .filters .submit_button {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f68a5', endColorstr='#042a6b',GradientType=0 ); /* IE6-8 */
}

.search_results .filters .submit_button_container .submit_button:hover,
.narrow_search .filters .submit_button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f78b5', endColorstr='#143a7b',GradientType=0 ); /* IE6-8 */
}

.inline_modal {
    zoom: 1;
}

