<?xml version="1.0" encoding="iso-8859-1"?>
 <step>
	<contextInfo>
		<title>Today's Events</title>
		<id>events</id>
		<parent>home</parent>
		<previousTitle></previousTitle>
		<previousLink></previousLink>
		<nextTitle></nextTitle>
		<nextLink></nextLink>
	</contextInfo>
	<content>
		<code><![CDATA[
			<p>If you have any current assignments or events, these will display under the <b>Today's Events</b> panel on your home page.</p>
			<p>To open an event:</p>
			<ol>
				<li>Find the event in the <b>Today's Events</b> list on your home page.</li>
				<li>Click on the name of the event to launch it.</li>
			</ol>
			<p><font color='#39A4DD'><b>Tip:</b></font> To find out more information about the event click on the drop down arrow and select <b>Show more details about this event</b>.</p>
		]]></code>
	</content>
</step>