			body { 
				margin: auto;
				font-family: Arial; 
				font-size: 16px; 
				background-color: #99cc33; 
				color: #888; 
				max-width: 1200px;
				min-width: 1200px;
				min-height: 500px;
			}

			.page { 
				background-color: #fff; 
				padding: 20px 30px 30px 30px; 
				margin: 50px 50px 30px 30px;
			}

			.page h1 {
				color: #ffffff;
				font-size: 1.3em; font-weight: normal;
				text-transform: uppercase;
				position: relative;
				background-color: #333333;
				margin: 0px -70px 20px -70px;
				padding: 5px 0px 5px 70px
			}

			.page h1:before {
				content: ' '; 
				display: block; height: 40px; width: 40px;
				background: url(../img/fold2.gif) no-repeat 0 0;
				position: absolute; left : 0px; bottom: -40px;			
			}
			
			.page h1:after {
				content: ' '; 
				display: block; height: 40px; width: 40px;
				background: url(../img/fold.gif) no-repeat 0 0;
				position: absolute; right : 0px; bottom: -40px;			
			}

			
			.page p { line-height: 1.2em; }
			.page a { color: #1badd2; text-decoration: none; }

			.row-fluid   {
				max-width: 100%;
				max-height: 100%;
			}

			
			.header {
				padding-bottom: 20px;

			}
			.header img {
				max-width: 100%;
				max-height: 100%;
				display: block;
  				margin-left: auto;
    			margin-right: auto;

			}

			.well {
				padding: 5px 5px 5px 5px;
				margin: 30px -30px -30px -30px;
				text-align: center;
		
			}

			.well a {
				color: #808080; 
				text-decoration: none;
				font-size: 0.8em; 
				font-weight: normal;

			}

			.downloadbtn {
				padding-bottom: 25px; 
			}


			#drop_zone {
			    border: 2px dashed #BBBBBB;
			    border-radius: 5px;
			    color: #000000;
			    padding: 100px;
			    text-align: center;
			}
			
			table, td
			{
			border: 2px 2px 2px 2px dotted black;
			}
			td
			{
			padding:15px;
			text-align: center;
			vertical-align: middle;
			}


			.footer {

			};
